@import '../Header/Variables.scss';
@import '../Footer/Variables.scss';

.layout {
	background-color: #fff;
}

.content {
	min-height: calc(100vh - $header-height - $footer-total-height);
}

.container {
	max-width: 800px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
